---
export interface Props {
	width?: string;
    type?: string;
    theme?: string;
    headline?: string;
    image?: string;
    imageAlt?: string;
    icon?: string;
    href?: string;
}

const { width, type, theme, headline, image, imageAlt, icon, href } = Astro.props;

import Icon from "../../components/Icon.astro";
---

{type === 'link' && (
	<a class={`intro-card link ${theme} ${width}-width`} href={href}>
		<div class="text">
			<h2>{headline}</h2>
			<p><slot /></p>
		</div>
		{image && (
			<div class="image">
				<img src={image} alt={imageAlt} />
			</div>
		)}
		{icon && (
			<div class="icon">
				<Icon name='arrow_right' size="small" />
			</div>
		)}
	</a>
)}
{type != 'link' && (
    <div class={`intro-card ${theme}`}>
        <div class="text">
            <h2>{headline}</h2>
            <slot />
        </div>
        {image && (
            <div class="image">
                <img src={image} alt={imageAlt} />
            </div>
        )}
        {icon && (
            <div class="icon">
                <Icon name='arrow_right' size="small" />
            </div>
        )}
    </div>
)}

<style lang="scss">
	.wrapper {
		width: 100%;
		container-type: inline-size;
        container-name: card;
	}
	.intro-card {
		width: 100%;
		display: flex;
		border-radius: 1rem;
		flex-direction: row;
		text-decoration: none;
		background-color: var(--brand50);
		overflow: hidden;
		position: relative;
		transition: all .2s ease-in-out;

		

		// extends the entire element
		&.full-width {
            grid-column: span 2;
		}

		// Used for blog posts
		&.rows {
			flex-direction: row;
			.text {
				order: 2;
				flex: 1;
				height: auto;
				font-size: 1rem;
				padding: var(--spacing-small) var(--spacing-small) 0;

				h2 {
					font-size: 1.8rem;
				}

				p {
					font-size: 1rem;
				}
			}
			.image {
				order: 1;
				flex: 0 0 30%;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				overflow: hidden;
				background-color: var(--brandDark);
				img {
					position: absolute;
					min-width: 150%;
				}
			}
		}

		// gives it a mint background for focus
		&.primary {
			background-color: var(--brand100);
			.text {
				padding: var(--spacing-medium) var(--spacing-small);
			}
		}

		// has to images
		.text {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: .25rem;
			font-weight: 400;
			padding: var(--spacing-small);
			h2 {
				font-weight: 400;
				margin: 0;
			}
			p {
				margin: 0;
			}
			a {
				text-decoration: underline;
			}
		}

		// used as a pseudo cta
		&.cta, &.cta:hover {
			padding-left: var(--spacing-medium);
			padding-right: var(--spacing-medium);
			color: var(--brand100);
			background-color: var(--brandDark);
			h2 {
				color: var(--white);
				font-size: 2rem;
				letter-spacing: -1px;
				margin: 0;
			}
			.icon {
				opacity: 1;
				right: var(--spacing-medium);
			}
		}

		// CHILD ELEMENTS /////////////////////////////
		.image {
			flex: 0 0 50%;
			color: var(--white);
			display: flex;
			align-items: flex-end;
			justify-content: center;
            img {
				flex: 1;
                transition: all .2s ease-in-out;
            }
		}

		.icon {
			position: absolute;
			height: 100%;
			width: 24px;
			right: var(--spacing-small);
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0;
			transition: all .2s ease-in-out;
		}

		// UI STATES /////////////////////////////
		&:hover {
			background-color: var(--brand300);

			&.link {
				margin: -8px 0 8px;
			}

			.icon {
				opacity: 1;
			}

            .image img {
                transform: scale(1.1);
                transition: all .4s ease-in-out;
            }
		}
	}
	
	// RESPONSIVE /////////////////////////////
	@media only screen and (max-width: 40rem) {
		.intro-card {
			flex-direction: column;
			&.primary .text, &:not(.solo) .text {
				flex: 1;
				height: auto;
				padding: var(--spacing-small) var(--spacing-small) 0;
			}

			&.rows {
				flex-direction: column;

				.text {
					font-size: 16px;
					h2 {
						font-size: 1.5rem;
						letter-spacing: -.5px;
					}
					p {
						font-size: 16px;
					}
				}
				.image {
					min-height: 180px;
					max-height: 180px;
					img {
						position: relative;
						width: 100%;
						margin-top: -20px;
					}
				}
			}

			.image {
				flex: 1;
				width: 100%;
				padding-top: 1rem;

				img {
					flex: 0;
					max-height: 300px;
				}
			}
			&.art .image {
				flex:1;
				width: 100%;
				min-height: 260px;
				max-height: 260px;
				overflow: hidden;
				align-items: center;
				background-color: var(--brandDark);

				img {
					flex: 1;
					margin: 0 auto;
					max-height: none;
				}
			}

			&.cta, &.cta:hover {
				padding: var(--spacing-small);
				.text {
					text-align: center;
					gap: 1rem;
					padding: 0;

					h2 {
						font-size: 1.5rem;
        				letter-spacing: -.5px;
					}
				}
				.icon {
					display: none;
				}
			}
		}
	}
</style>