---

export interface BannerProps {
    text: string;
    link?: string;
    target?: string;
}

const { text, link, target } = Astro.props;

---


<div class="banner marquee">
    <a class="banner-container" href={link} target={target}>
        <span>{text}</span>
        <span>{text}</span>
        <span>{text}</span>
        <span>{text}</span>
        <span>{text}</span>
        <span>{text}</span>
        <span>{text}</span>
        <span>{text}</span>
        <span>{text}</span>
        <span>{text}</span>
    </a>
</div>


<style lang="scss">
    .banner {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        background-color: var(--theme-accent);
        position: relative;
        top: 0px;
        margin-top: auto;
        z-index: 1;

        &-container {
            position: absolute;
            overflow: hidden;
            inset: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-decoration: none;
            transition: all .3s ease-in-out;

            span {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: .8rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-right: 1rem;
                flex-shrink: 0;
                opacity: .8;
                animation: marquee 20s linear infinite;
            }

            &:hover {
                span {opacity: 1;}
            }
        }

        @keyframes marquee {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-100%);
            }
        }
    }
</style>