---
import Header from "../components/Header.astro";
import Main from "../view/Main.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import MenuModal from "../components/menu/MenuModal.astro";
import MarqueeBanner from "../components/banners/MarqueeBanner.astro";
import Topper from "../components/Topper.astro";

export interface Props {
 	pageTitle: string;
    background?: string;
    footerMessage?: string;
    footerTarget?: string;
    footerMemoji?: string;
    showBanner?: string;
    topperSplit?: string;
}
const {pageTitle, background, footerMessage, footerTarget, footerMemoji, showBanner, topperSplit } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <script>
            import "../scripts/theme-switcher.js";
        </script>
    </head>
    <body class:list={`base ${background}`}>
        {showBanner && (<MarqueeBanner text='open for new opportunities' link='https://www.linkedin.com/in/karina-tovar-castro/' target='_blank' />)}
        <Header pageTitle={pageTitle} />
        <Topper split={topperSplit}>
            <slot slot="content" name="topper"></slot>
            <slot slot="assistant" name="topper-assist"></slot>
        </Topper>
        <Main>
            <slot></slot>
        </Main>
        <MenuModal />
        <Footer message={footerMessage} memoji={footerMemoji} messageTarget={footerTarget} />
        <!-- Scripts -->
        <script>
            import "../scripts/mobile-menu.js";
        </script>
        <script>
            import "../scripts/menu-invert.js";
        </script>
        <script>
            import "../scripts/time-of-day.js";
        </script>
    </body>
</html>

<style lang="scss">
    .base {
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 100vh;

        &.background-main {
            background-image: url('/public/images/bg-main.png');
            background-position: left top;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

</style>