---
import Header from "../components/Header.astro";
import Main from "../view/Main.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import MenuModal from "../components/menu/MenuModal.astro";
import MarqueeBanner from "../components/banners/MarqueeBanner.astro";
import Topper from "../components/Topper.astro";

export interface Props {
 	pageTitle: string;
    background?: string;
    hasContent?: string;
    showBanner?: string;
    topperSplit?: string;
}
const {pageTitle, hasContent, background, showBanner, topperSplit } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <script>
            import "../scripts/theme-switcher.js";
        </script>
    </head>
    <body class:list={`base ${background}`}>
        <!-- MENU MODAL (Triggered by Menu in Nav – In Mobile) -->
        <MenuModal />

        <!-- MARQUEE BANNER -->
        {showBanner && (<MarqueeBanner text='open for new opportunities' link='https://www.linkedin.com/in/karina-tovar-castro/' target='_blank' />)}
        
        <!-- PAGE HEADER (Includes: Nav + Weather) -->
        <Header />

        <!-- START of CONTENT MANAGER -->
        {!hasContent && (
            <Topper split={topperSplit} isFull="true">
                <slot slot="content" name="topper"></slot>
                <slot slot="assistant" name="topper-assist"></slot>
            </Topper>
        )}
        {hasContent && (
            <Topper split={topperSplit}>
                <slot slot="content" name="topper"></slot>
                <slot slot="assistant" name="topper-assist"></slot>
            </Topper>
            <Main>
                <slot />
            </Main>
        )}
        <!-- END of CONTENT MANAGER -->

        <!-- FOOTER -->
        <Footer />

        <!-- Scripts -->
        <script>
            import "../scripts/mobile-menu.js";
        </script>
        <script>
            import "../scripts/menu-invert.js";
        </script>
        <script>
            import "../scripts/time-of-day.js";
        </script>
    </body>
</html>

<style lang="scss">
    .base {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 100vh;
        @media only screen and (min-width: 50rem) {
            padding: 0 var(--spacing-small) var(--spacing-small);
        }
        &.background-main {
            background-image: url('/public/images/bg-main.png');
            background-position: left top;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

</style>